---
import { Image } from "astro:assets";
import Star from "../images/star.svg";
import ReviewsImage1 from "../images/reviews-image1.png";
import ReviewsImage2 from "../images/reviews-image2.png";
---

<section class="reviews">
  <div class="reviews__container container">
    <div class="slider-wrapper">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <Image src={ReviewsImage1} alt="Товар 1" class="reviews__image" />
            <div class="reviews__slide-wrapper">
              <div class="reviews__info-wrapper">
                <p class="reviews__name">Brooklyn Simmons</p>
                <div class="star-wrapper">
                  <Image src={Star} alt="Звезда рейтинга" class="star" />
                  <Image src={Star} alt="Звезда рейтинга" class="star" />
                  <Image src={Star} alt="Звезда рейтинга" class="star" />
                  <Image src={Star} alt="Звезда рейтинга" class="star" />
                  <Image src={Star} alt="Звезда рейтинга" class="star" />
                </div>
              </div>
              <p class="reviews__text">
                “Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
                Exercitation veniam consequat sunt nostrud amet. Amet minim
                mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia”
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <Image src={ReviewsImage2} alt="Товар 2" class="reviews__image" />
            <div class="reviews__slide-wrapper">
              <div class="reviews__info-wrapper">
                <p class="reviews__name">Brooklyn Simmons</p>
                <div class="star-wrapper">
                  <Image src={Star} alt="Звезда рейтинга" class="star" />
                  <Image src={Star} alt="Звезда рейтинга" class="star" />
                  <Image src={Star} alt="Звезда рейтинга" class="star" />
                  <Image src={Star} alt="Звезда рейтинга" class="star" />
                  <Image src={Star} alt="Звезда рейтинга" class="star" />
                </div>
              </div>
              <p class="reviews__text">
                “Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
                Exercitation veniam consequat sunt nostrud amet. Amet minim
                mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia”
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <Image src={ReviewsImage2} alt="Товар 2" class="reviews__image" />
            <div class="reviews__slide-wrapper">
              <div class="reviews__info-wrapper">
                <p class="reviews__name">Brooklyn Simmons</p>
                <div class="star-wrapper">
                  <Image src={Star} alt="Звезда рейтинга" class="star" />
                  <Image src={Star} alt="Звезда рейтинга" class="star" />
                  <Image src={Star} alt="Звезда рейтинга" class="star" />
                  <Image src={Star} alt="Звезда рейтинга" class="star" />
                  <Image src={Star} alt="Звезда рейтинга" class="star" />
                </div>
              </div>
              <p class="reviews__text">
                “Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
                Exercitation veniam consequat sunt nostrud amet. Amet minim
                mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia”
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews__text-wrapper">
      <h2 class="title reviews__title">What Our Customers Say</h2>
      <div class="reviews__flex-wrapper">
        <div class="reviews__rating">4.9</div>
        <div class="reviews__rating-wrapper">
          <div class="star-wrapper">
            <Image src={Star} alt="Звезда рейтинга" class="star" />
            <Image src={Star} alt="Звезда рейтинга" class="star" />
            <Image src={Star} alt="Звезда рейтинга" class="star" />
            <Image src={Star} alt="Звезда рейтинга" class="star" />
            <Image src={Star} alt="Звезда рейтинга" class="star" />
          </div>
          <p class="reviews__rating-text">based on 2452+ reviews</p>
        </div>
      </div>
      <div class="swiper-button-wrapper">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .swiper {
    width: 600px;

    &-wrapper {
      padding-left: 132px;
    }

    &-slide {
      display: flex;
      flex-direction: column;
      max-width: 468px;
    }

    &-button {
      &-wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 130px;
      }

      &-next {
        width: 30px;
        height: 30px;
        background-image: url("../images/arrow.svg");
        background-position: center;
      }

      &-prev {
        width: 30px;
        height: 30px;
        background-image: url("../images/arrow.svg");
        background-position: center;
        transform: scale(-1, 1);
      }
    }
  }
</style>

<script>
  import Swiper from "swiper";
  import "swiper/css";
  import { Navigation, Pagination } from "swiper/modules";
  const swiper = new Swiper(".swiper", {
    // Optional parameters
    modules: [Navigation, Pagination],
    loop: true,
    spaceBetween: 35,
    slidesPerView: "auto",

    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
